body {
    background-color: grey;
}

ul {
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
    padding: 0;
}

li {
    color: white;
    text-align: center;
    padding: 8px;
}

li:hover {
    background-color: #666;
}

.columns {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.column {
    box-shadow: 1px 1px 1px 1px black;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    /* padding: 5px; */
    width: 100%;
}

@media screen and (min-width: 800px) {
    li {
        display: inline;
        float: left;
    }
    body {
        background-color: goldenrod;
    }
    .columns {
        flex-direction: row;
    }
}